.image {
    width: 200px;
    height: 200px;
    padding: 0;
    content: "";
    filter: grayscale(40%);
    border: 1px solid rgba(220, 220, 220, 1);
  }
  
  .imageWrap {
    display: flex;
    justify-content: center;
  }
  
  .a {
    text-decoration: none;
    color: #353e55;
    font-size: 14px;
    font-weight: 300;
  }
  
  .title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    color: #5c5c66;
    margin-block-start: 8px;
    margin-block-end: 8px;
    flex-basis: 32px;
  }
  
  .cardWrap {
    height: 250px;
    width: 200px;
    margin: auto;
    display: flex;
    flex-flow: row;
    border: 1px solid rgba(220, 220, 220, 1);
    box-shadow: 0px 2px 10px rgba(229, 229, 235, 0.4);
    background-color: #f0edf8;
    border-radius: 3px;
    transition: transform 0.2s;
  }
  
  .cardWrap:hover {
    transform: scale(1.05);
    box-shadow: 0px 2px 15px rgba(229, 229, 235, 0.6);
  }
  
  .cardBody {
    padding: 0px 16px 8px 16px;
    height: auto;
    width: auto;
    display: flex;
    flex-flow: column;
  }
  