.productcontent ul{
   
        /* list-style-type: disc; */
        font-size: 12px;
        
}
/* .productcontent .addbutton{
    margin-top: -20px;
} */
.actionbox{
    left: 0;
    bottom: 0;
}
.lines{
    padding-left: revert;
}