* {
    box-sizing: border-box;
  }
  *:before,
  *:after {
    box-sizing: border-box;
  }
  :root {
    --primary-color: #e8e1f4;
    --secondary-color: #d7dbf0;
    --accent-color: #f1e1f4;
    --dark-text: #101010;
    --light-text: #272727;
  }
  
  html {
    padding: 0;
    margin: 0;
    overflow: overlay;
  }
  
  html,
  body {
    height: 100%;
  }
  
  body {
    margin: 0;
    font-family: Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    background-color: #f7f5fb;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5 {
    color: var(--light-text);
  }
  
  p,
  a {
    color: var(--dark-text);
  }
/* .sidebar{
  height: 100%!important;
} */